/*
    Containers
*/
#main {
    height: 100%;
}

body.advanced-scrolling {
    min-width: 992px;
}

.scrollContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%
}
.scrollContainer {
    height: 100%;
    margin: auto;
}
#main .scrollContent {
    height: 100%;
}

.horizontal.scrollContainer {
    overflow-y: hidden;
    overflow-x: scroll;
}
#main.scrollContainer .scrollContent {
    width: 100%;
    height: auto;
}
#main.scrollContainer.horizontal .scrollContent {
    width: auto;
    height: 100%;
}
#main.horizontal {
    white-space: nowrap;
    font-size: 0;  /* fix for spaces between inline block divs */
}
#main.horizontal div {
    font-size: 13px;
}
#main .scrollContent, #main.horizontal .scrollContent {
    font-size: 0;
}
#main .scrollContent div {
    font-size: 13px;
}
#main section {
    overflow: hidden;
}

.panel {
    height: 100%;
    width: 100%;
    background-color: black;
}


section .panel-container {
    margin: 0 auto;
    text-align: center;
    display: table;
    width: 100%;
    position: relative;
    .page-content {
        display: table-cell;
        vertical-align: middle;
        padding: 0 100px;
    }
}

//@include respond-to(xsmall) {
    .advanced-scrolling-disabled {
        #main section {
            overflow: auto;
        }
        .panel {
            height: auto !important;
        }
        section .panel-container .page-content {
            padding: 0 20px;
            display: inline-block;
        }
        section {
            padding-bottom: 3em;
        }
    }
//}


#player-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

#player {
    position: relative;
    z-index: -99;
}

.video-container {
    position: absolute;
    z-index: -99;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
