form {
    input {
        border: none;
        box-sizing: border-box;
        background-color: white;
        font: 18px/2.4em $font-light;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border-radius: 2pxz;
        margin-bottom: 0.5em;
        color: $input-color;
    }
    button {
        background-color: $primary-button-color;
        color: $primary-color;
        font: 18px/2.3 $font-regular;
        border: none;
        box-sizing: border-box;
        border-radius: 2px;
        margin-bottom: 0.5em;
    }

}