
$font-light: 'san_francisco_textlight';
$font-regular: 'san_francisco_textregular';
$font-medium: 'san_francisco_textmedium';
$font-bold: 'san_francisco_textbold';


@font-face {
    font-family: 'san_francisco_textbold';
    src: url('../fonts/sanfranciscotext-bold-webfont.eot');
    src: url('../fonts/sanfranciscotext-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sanfranciscotext-bold-webfont.woff2') format('woff2'),
         url('../fonts/sanfranciscotext-bold-webfont.woff') format('woff'),
         url('../fonts/sanfranciscotext-bold-webfont.ttf') format('truetype'),
         url('../fonts/sanfranciscotext-bold-webfont.svg#san_francisco_textbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'san_francisco_textlight';
    src: url('../fonts/sanfranciscotext-light-webfont.eot');
    src: url('../fonts/sanfranciscotext-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sanfranciscotext-light-webfont.woff2') format('woff2'),
         url('../fonts/sanfranciscotext-light-webfont.woff') format('woff'),
         url('../fonts/sanfranciscotext-light-webfont.ttf') format('truetype'),
         url('../fonts/sanfranciscotext-light-webfont.svg#san_francisco_textlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'san_francisco_textmedium';
    src: url('../fonts/sanfranciscotext-medium-webfont.eot');
    src: url('../fonts/sanfranciscotext-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sanfranciscotext-medium-webfont.woff2') format('woff2'),
         url('../fonts/sanfranciscotext-medium-webfont.woff') format('woff'),
         url('../fonts/sanfranciscotext-medium-webfont.ttf') format('truetype'),
         url('../fonts/sanfranciscotext-medium-webfont.svg#san_francisco_textmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'san_francisco_textregular';
    src: url('../fonts/sanfranciscotext-regular-webfont.eot');
    src: url('../fonts/sanfranciscotext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sanfranciscotext-regular-webfont.woff2') format('woff2'),
         url('../fonts/sanfranciscotext-regular-webfont.woff') format('woff'),
         url('../fonts/sanfranciscotext-regular-webfont.ttf') format('truetype'),
         url('../fonts/sanfranciscotext-regular-webfont.svg#san_francisco_textregular') format('svg');
    font-weight: normal;
    font-style: normal;

}