/*
    General styles
*/
body {
    font-family: $font-light;
    background-color: #c7e1ff;
    font-size: 13px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, html {
    height: 100%
}

h1, h2, h3, h4, p {
    font-family: $font-light;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
h1 {
    font-size: 44px;
    font-weight: 100;
}
h2 {
    font-size: 20px;
    font-family: $font-regular;
    font-weight: 300;
}
h3 {
    font-size: 20px;
    font-family: $font-medium;
    font-weight: 300;
}
p {
    font-size: 20px;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    strong {
        font-family: $font-bold;
        font-weight: 300;
    }
    a {
        color: white;
    }
    a:link,
    a:hover,
    a:visited,
    a:active {
        color: white;
    }
}
@include respond-to(-small) {
    h1 {
        margin-top: 1.5em;
        line-height: 1em;
        font-size: 34px;
    }
    p { font-size: 18px; }
}

@include respond-to(large) {
    h1 { font-size: 50px; }
}
@include respond-to(xlarge) {
    h1 { font-size: 50px; }
}

a, a:visited {
    text-decoration: none;
    color: #2e639e;
}
a:hover {
    text-decoration: underline;
}
.touchonly {
    display: none;
}
html.touch .touchonly {
    display: block;
}
.noselect * {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}
.doselect * {
    user-select: auto;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -o-user-select: auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.hidden {
    display: none;
}
