header {
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0px;

    .logo {
        @include responsive-image ('../images/logo.png', 120px, 120px);
        display: block;
        text-indent: 9999px;
        overflow: hidden;
        border: none;
        outline: none;
    }
}

//@include respond-to(xsmall) {
    .advanced-scrolling-disabled {
        header {
            position: static;
            margin-top: 0px;
            width: 100%;
            background-color: black;
        }
    }
//}
