
@mixin panel-background ($url) {
    background: url($url);
    background-size: cover;
    background-position: center;
}

@mixin responsive-image ($url, $width, $height) {
    background: url($url);
    background-size: $width $height;
    width: $width;
    height: $height;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == "xsmall" {
    @media screen and (max-width : 479px) {
      @content;
    }
  }

  @if $breakpoint == "small" {
    @media screen and (min-width : 480px) and (max-width : 992px) {
      @content;
    }
  }

  @if $breakpoint == "-small" {
    @media screen and (max-width : 992px) {
      @content;
    }
  }

  @else if $breakpoint == "medium" {
    @media screen and (min-width : 993px) and (max-width : 1096px) {
      @content;
    }
  }

  @else if $breakpoint == "mlarge" {
    @media screen and (min-width : 1097px) and (max-width : 1200px) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media screen and (min-width : 1201px) and (max-width : 1300px) {
      @content;
    }
  }

  @else if $breakpoint == "xlarge" {
    @media screen and (min-width: 1301px) {
      @content;
    }
  }
}