nav.pager {
    position: fixed;
    top: 50%;
    margin-top: -5em;
    left: 30px;
    z-index: 100;
}

//@include respond-to(xsmall) {
    .advanced-scrolling-disabled {
        nav.pager {
            display: none;
        }
    }
//}

nav.pager ul {
    list-style: none;
    line-height: 2em;
    li {
        padding-left: 1.5em;
        font-size: 2em;
    }
    li.active:before {
        position: absolute;
        content: "\25cf";
        color: white;
        left: 0;
    }
    li:before {
        position: absolute;
        content: "\25cb";
        color: white;
        left: 0;
    }
}