.panel.page-about {
    @extend .panel.page-how;

    .hrow.main {
        ul {
            padding: 0;
            display: inline-block;
            text-align: left;
        }
        li {
            padding: 0;
            display: inline-block;
        }
    }

    @include panel-background('../images/background-about-darker.jpg');

}