.panel.page-example {

    .hrow.headline {
        position: absolute;
        top: 20%;
        left: 0px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    ul {
        display: table;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        li {
            width: 33%;
            height: 100%;
            display: table-cell;
            vertical-align: middle;
        }
        li.item-1 { @include panel-background( '../images/background-example-1.jpg' ); }
        li.item-2 { @include panel-background( '../images/background-example-2.jpg' ); }
        li.item-3 { @include panel-background( '../images/background-example-3.jpg' ); }
    }
    .panel-container {
        display: block;
    }
}

//@include respond-to(xsmall) {
    .advanced-scrolling-disabled {
        .panel.page-example {
            .hrow {
                top: 0px;
            }
            ul {
                display: inline-block;
                li {
                    display: table;
                    width: 100%;
                    height: 360px;
                    float: left;
                    margin-bottom: 0em;
                    padding: 0;
                    h3 {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
//}
