.panel.page-how {
    @include panel-background('../images/background-how.jpg');

    h1 {
        margin-bottom: 0em;
    }

    .hrow.main {
        display: inline-block;
        width: 100%;
        min-width: 680px;
        max-width: 1340px;

        ul {
            display: table;
            border-collapse: collapse;
            width: 100%;
            padding: 0 1.0em;
        }
        li {
            display: table-cell;
            width: 25%;
            img {
                border: 4px solid white;
            }
            div {
                padding: 0em 1.0em;
            }
        }
        img {
            box-sizing: border-box;
            width: 100%;
        }
        p {
            text-transform: uppercase;
            text-align: left;
            font-size: 16px;
        }
        .icons img {
            padding-bottom: 4em;
        }
    }

    @include respond-to(small) {
        .hrow.main {
            p { font-size: 12px; }
        }
    }
    @include respond-to(medium) {
        .hrow.main {
            min-width: 840px;
            p { font-size: 13px; }
        }
    }
    @include respond-to(mlarge) {
        .hrow.main {
            //min-width: 900px;
            p { font-size: 15px; }
        }
    }
    @include respond-to(large) {
        .hrow.main {
            //min-width: 900px;
            p { font-size: 15px; }
        }
    }
    @include respond-to(xlarge) {
        .hrow.main {
            //min-width: 1090px;
            p { font-size: 18px; }
        }
    }
//    @include respond-to(xlarge) {
//        .hrow.main {
//            min-width: 1200px;
//            p { font-size: 20px; }
//        }
//    }
}

//@include respond-to(xsmall) {
    .advanced-scrolling-disabled {
        .panel.page-how {
            .hrow.main {
                min-width: 0px;
                p { font-size: 20px; text-align: center; }
                .icons img {
                    display: none;
                }
                ul {
                    display: inline-block;
                    width: auto;
                }
                li {
                    display: inline-block;
                    width: 100%;
                    float: left;
                    margin-bottom: 2em;
                    padding: 0;
                }
            }
        }
    }
//}

@include respond-to(small) {
    .advanced-scrolling-disabled {
        .panel.page-how {

            .hrow.main {
                li {
                    width: 50%;
                }
                li div {
                    padding-left: 0.5em;
                    padding-right: 0.5em;
                }
            }
        }
    }
}