.panel.page-what {
    @include panel-background('../images/background-what.jpg');
}

.panel.page-future {
    @include panel-background('../images/background-future.jpg');
}

.panel.phone-template {
    margin: 0 auto;
    text-align: center;

    .hrow {
        display: inline-block;
        width: 100%;
    }

    h1 {
        margin-bottom: 0em;
    }

    .hrow.main {
        width: 63%;
        padding-bottom: 5%;

        ul {
            display: table;
            border-collapse: collapse;
            width: 100%;
        }
        li {
            display: table-cell;
            width: 23%;
            padding-right: 2.0em;
        }
        li.signup {
            display: table-cell;
            width: 31%;
            vertical-align: middle;
            padding-right: 0em;
            p {
                margin-bottom: 1.0em;
            }

            input, button {
                width: 100%;
            }
        }
        img {
            width: 100%;
        }
    }
    @include respond-to(-small) {
        .hrow.main {
            width: 90%;
        }
    }
    @include respond-to(medium) {
        .hrow.main {
            width: 85%;
        }
    }
    @include respond-to(mlarge) {
        .hrow.main {
            width: 80%;
        }
    }
    @include respond-to(large) {
        .hrow.main {
            width: 75%;
        }
    }
    @include respond-to(xlarge) {
        .hrow.main {
            width: 70%;
        }
    }
}

.panel.page-future .responsive-br-small { display: none; }

//@include respond-to(xsmall) {
    .advanced-scrolling-disabled {
        .panel.page-what,
        .panel.page-future {
            .responsive-br {
                display: none;
            }

            .hrow {
                p { font-size: 22px; }
            }

            .hrow.main {
                margin-top: 2em;
                width: 100%;

                p { font-size: 15px; text-align: center; }
                ul {
                    padding-left: 0;
                    display: inline-block;
                    margin: 0 auto;
                    text-align: center;
                }
                li.signup, li {
                    display: inline-block;
                    margin: 0 auto;
                    text-align: center;

                    width: 60%;
                    float: none;
                    margin-bottom: 2em;
                    padding-right: 0;
                }
                li.signup {
                    width: 100%;
                }
            }
        }
    }
//}

#main .scrollContent div#mce-success-response {
    font-family: $font-medium;
    font-size: 13px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#main .scrollContent div#mce-error-response {
    font-family: $font-medium;
    font-size: 13px;
    color: #E44;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@include respond-to(small) {
    .advanced-scrolling-disabled {
        .panel.page-what,
        .panel.page-future {
            .hrow.main {
                li.signup, li {
                    width: 30%;
                }
                li.signup {
                    width: 50%;
                }
            }
        }
        .panel.page-future .responsive-br-small { display: block; }
    }
}

@include respond-to(xsmall) {
    .advanced-scrolling-disabled {
        .panel.page-what,
        .panel.page-future {
            .hrow.main {
                li.signup, li {
                    width: 60%;
                }
                li.signup {
                    width: 100%;
                }
            }
        }
    }
}