$primary-color: #fff;
$primary-button-color: #529ecc;
$input-color: #888;

@import "_mixins";

@import "_normalize";
@import "_fonts";
@import "_general";
@import "_containers";
@import "_elements";
@import "_header";
@import "_navigation";

body {
  font: 100% $font-regular;
  color: $primary-color;
}

.panel .hrow.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    background-color: black;
    h2 {
        margin: 0;
        line-height: 3em;
    }
}

//@include respond-to(xsmall) {
    .advanced-scrolling-disabled {
        .panel .hrow.footer {
            position: static;
            display: block !important;
            bottom: auto;
            top: auto;
            width: 100%;
            background-color: black;
            h2 {
                line-height: 4em;
            }
        }
    }
//}


@import "_page-phones"; // used for what and future pages
@import "_page-how";
@import "_page-example";
@import "_page-about";

.footer.next,
.footer.next h2 {
    cursor: pointer;
    z-index: 1;
}

.panel.video-loaded {
    background: none !important;
}

// ---- LIGHTBOX ------

img.lb {
    cursor: pointer;
}

.advanced-scrolling-disabled img.lb {
    cursor: default;
}

#lightbox-container {
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 101;
    cursor: pointer;

    .img {
        .close-button {
            position: fixed;
            top: 20px;
            right: 20px;
            background: url('../images/close-button@2x.png') no-repeat 0 0;
            width: 35px;
            height: 35px;
            background-size: 35px 35px;
        }

        position: fixed;
        padding: 40px;
        display: table-cell;
        vertical-align: center;
        text-align: center;
        img {
            display: inline-block;
            height: 100%;
        }
    }
}
