<section class="panel page-what background-video phone-template" data-page="what">
    <div class="panel-container">
    <div class="video-container">
      <div id="player-overlay"></div>
      <div id="player"></div>
      <!--iframe class="video" id="player" frameborder="0" height="100%" width="100%" 
        src="https://youtube.com/embed/izSRjdYln8E?autoplay=1&controls=0&showinfo=0&autohide=1&enablejsapi=1&origin=http%3A%2F%2Flocalhost%3A8000">
      </iframe-->
    </div>
    <div class="page-content">
        <div class="hrow">
            <h1>Training plans that adapt to your life</h1>
            <p>Because 74% of runners state that they aren’t able to follow their <span class="responsive-br"><br /></span>training plan properly due to their inflexibility.</p>
        </div>
        <div class="hrow main">
            <ul>
                <li><img src="images/step_0.png" class="lb" /></li>
                <li><img src="images/step_1.png" class="lb" /></li>
                <li><img src="images/status_01.png" class="lb" /></li>
                <li class="signup">
                    <div class="signup">
                        <p>Enter your e-mail address if you would like to help us beta test App&amp;Run</p>
                        <form action="//polygripmedia.us9.list-manage.com/subscribe/post?u=8004565dc2c2b93e4f58833f1&amp;id=93a98ec320" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email" />
                            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">Sign me up</button>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_8004565dc2c2b93e4f58833f1_93a98ec320" tabindex="-1" value=""></div>
                            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="hrow footer next">
        <h2>What is App&Run?&nbsp;&nbsp;▾</h2>
    </div>
    </div>
</section>