<section class="panel page-future phone-template" data-page="future">
    <div class="panel-container">
        <div class="page-content">
            <div class="hrow">
            <h1>Multiple training forms</h1>
                <p>Cycling, cross-country, swimming and more.</p>
            </div>
            <div class="hrow main">
                <ul>
                    <li><img src="images/appcycle.png" class="lb" /></li>
                    <li><img src="images/appski.png" class="lb" /></li><span class="responsive-br-small"><br /></span>
                    <li><img src="images/appswim.png" class="lb" /></li>
                    <li><img src="images/applift.png" class="lb" /></li>
                </ul>
            </div>
        </div>
    </div>
</section>