<section class="panel page-how" data-page="how">
    <div class="panel-container">
        <div class="page-content">
            <div class="hrow">
                <h1>Sometimes life doesn’t follow plans</h1>
                <p>That’s why App&amp;Run training plans constantly adapts depending <span class="responsive-br"><br /></span>on how you train, always keeping your goal in sight.</p>
            </div>
            <div class="hrow main">
                <ul>
                    <li>
                        <div>
                            <img src="images/situations-1.jpg" />
                            <p>Extra work, family or a<br />great party may make you<br /><strong>miss your planned run</strong></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/situations-2.jpg" />
                            <p>Lack of time or energy<br />can have you run a little<br /><strong>shorter than intendend</strong></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/situations-3.jpg" />
                            <p>Other days you can go<br />on forever and feel like<br /><strong>running longer</strong></p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/situations-4.gif" />
                            <p>No matter what, we’ll keep<br />your plan adapted so that<br /><strong>you reach your goal</strong></p>
                        </div>
                    </li>
                </ul>
                <div class="icons"><img src="images/situations-app-icons.png" /></div>
            </div>
        </div>
        <div class="hrow footer next">
            <h2>How do we do this?&nbsp;&nbsp;▾</h2>
        </div>
    </div>
</section>