<section class="panel page-about" data-page="about">
    <div class="panel-container">
        <div class="page-content">
            <div class="hrow">
                <h1>We felt like there was a need...</h1>
                <p>A need for a smarter training plan, a personal trainer in your pocket</p>
            </div>
            <div class="hrow main">
                <ul>
                    <li class="empty"></li>
                    <li>
                        <div>
                            <img src="images/profile-daniel.jpg" />
                            <p><strong>Daniel Skantze</strong><br />Tech Architect, Developer<br />
                            <a href="https://linkedin.com/in/danielskantze">linkedin.com/in/danielskantze</a><br />
                            <span class="eml daniel"></span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="images/profile-kaj.jpg" />
                            <p><strong>Kaj Bouic</strong><br />Planner, Strategist, UX<br />
                            <a href="https://linkedin.com/in/bouic">linkedin.com/in/bouic</a><br />
                            <span class="eml kaj"></span>
                            </p>
                        </div>
                    </li>
                    <li class="empty"></li>
                </ul>
            </div>
        </div>
        <div class="hrow footer next">
            <h2>Next steps?&nbsp;&nbsp;▾</h2>
        </div>
    </div>
</section>