<section class="panel page-example" data-page="example">
    <div class="panel-container">
        <div class="hrow headline">
            <h1>We'll be there no matter what your goal is</h1>
        </div>
        <ul>
            <li class="item-1"><h3>Run longer than<br />I’ve run before</h3></li>
            <li class="item-2"><h3>A major race</h3></li>
            <li class="item-3"><h3>A date and distance<br />of my own choice</h3></li>
        </ul>
        <div class="hrow footer next">
            <h2>Who are we?&nbsp;&nbsp;▾</h2>
        </div>
    </div>
</section>